<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>타타타임어택</title>

    <!-- style -->
    <style>
        * {
            font-family: "Stylish", sans-serif;
        }

        #modal textarea, #modal input {
            border-color: transparent;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        let pageCount = 5;
        let pageNum = 0;
        let sort = "reg_date";

        $(document).ready(function () {
            $("#cards-box").html("");
            showArticles(sort);
        });

        const setPage = (num) => {
            pageNum = num;
            showArticles(sort)
        }
        const page = (num) => {
            pageCount = num;
            showArticles(sort)
        }

        const sortArticles = (string) => {
            sort = string;
            showArticles(sort);
        }

        function openClose() {
            // id 값 post-box 의 display 값이 block 이면(= 눈에 보이면)
            let postBox = $("#post-box")
            if (postBox.css("display") === "block") {
                // post-box 를 가리고
                postBox.hide();
                // 다시 버튼을 클릭하면, 박스 열기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("포스팅 박스 열기");
            } else {
                // 아니면(눈에 보이지 않으면) post-box 를 펴라
                postBox.show();
                // 다시 버튼을 클릭하면, 박스 닫기를 할 수 있게 텍스트 바꿔두기
                $("#btn-post-box").text("포스팅 박스 닫기");
            }
        }

        function postArticle() {
            $.ajax({
                type: 'POST',
                url: "/posts",
                data: {
                    content: $("#post-comment").val(),
                    title: $("#post-url").val()
                },
                success: function (res) {
                    console.log(res['result'])
                }
            })
            window.location.reload();
        }

        function showArticles(sort) {
            $.ajax({
                type: "GET",
                data: {},
                url: `/posts?sort=${sort}`,
                contentType: 'application/json',
                success: function (res) {
                    if (!res['contents']) return;
                    $("#list-post").empty();
                    for (let i=(pageCount*pageNum);i<(pageCount*pageNum)+pageCount;i++) {
                        let post = res['contents'][i]
                        makeListPost(post, i + 1)
                    }
                }
            })
        }

        function makeListPost(post, index) {
            let {idx, title, content, reg_date, mod_date, read} = post;
            $("#list-post").append(`
            <tr><td>#${index}</td>
            <td>${title && title}</td>
            <td>${content && content}</td>
            <td>${reg_date && reg_date}</td>
            <td>${mod_date && mod_date}</td>
            <td>${read && read}</td>
            <td><button class="btn" onclick="readArticle('${idx}')">열기</button></td>
            <td><button class="btn" onclick="deleteArticle('${idx}')">삭제</button></td>
            </tr>`)
        }

        function deleteArticle(idx) {
            $.ajax({
                type: "DELETE",
                data: {},
                url: `/post/${idx}`,
                success: function (res) {
                    window.alert(res['result'])
                    window.location.reload();
                }
            })
        }

        function readArticle(idx) {
            $.ajax({
                type: "GET",
                data: {},
                url: `/post/${idx}`,
                success: function (res) {
                    console.log(res)
                    let {idx, title, content, reg_date, read} = res['post'];
                    $("body").append(`
                    <div class="modal" id="modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="form-group">
                                        <label for="post-url">제목</label>
                                        <input id="post-url" class="form-control" placeholder="${title}">
                                    </div>
                                    <button type="button" class="btn btn-close"
                                    data-bs-dismiss="modal" aria-label="Close" onclick="closeModal()">⨉</button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="post-comment">내용</label>
                                        <textarea id="post-comment" class="form-control" rows="3" placeholder="${content}"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <p>조회한사람: ${read}</p>
                                    <p>작성한날짜: ${reg_date}</p>
                                    <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="updateArticle('${idx}')">Update</button>
                                    <button type="button" class="btn btn-danger" onclick="deleteArticle('${idx}')">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    `);
                    let modal = $("#modal")
                    modal.show();
                    modal.addClass('fade').addClass('show')
                }
            })
        }

        function closeModal() {
            $("#modal").remove();
        }

        function updateArticle(idx) {

            $.ajax({
                type: "PUT",
                data: {
                    content: $("#modal #post-comment").val(),
                    title: $("#modal #post-url").val()
                },
                url: `/post/${idx}`,
                success: function (res) {
                    window.alert(res['result'])
                    $("#modal").hide()
                    window.location.reload();
                }
            })
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">나홀로 메모장!</h1>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스 열기
            </button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">제목</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단한 내용</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary" onclick="postArticle()">기사저장</button>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn">Page</button>
        <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:page(5)">5</a>
            <a class="dropdown-item" href="javascript:page(10)">10</a>
            <a class="dropdown-item" href="javascript:page(15)">15</a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"><a href="javascript: sortArticles('title')">제목</a></th>
            <th scope="col"><a href="javascript: sortArticles('content')">내용</a></th>
            <th scope="col"><a href="javascript: sortArticles('reg_date')">작성일</a></th>
            <th scope="col"><a href="javascript: sortArticles('mod_date')">수정일</a></th>
            <th scope="col"><a href="javascript: sortArticles('read')">조회</a></th>
            <th scope="col">열기</th>
            <th scope="col">삭제</th>
        </tr>
        </thead>
        <tbody id="list-post">
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="javascript: setPage(0)">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript: setPage(1)">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript: setPage(2)">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
</body>

</html>